@(username: String)(implicit request: RequestHeader)

@main {
<div class="page-header">Hi @username, enter your Scala code</div>

<div class="row">
    <div class="span8">
        <textarea id="editor" rows="15" cols="100" style="resize:none; width:100%"></textarea>
    </div>

    <div class="span4">
        <h3>Developers</h3>
        <ul id="coders">
            <li>@username</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="well">
            Compiler output ....
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var editorSocket = new WS("@routes.Application.join(username).webSocketURL()")

            var sendMessage = function() {
                console.log("editor = " + $("#editor").val());
                editorSocket.send(JSON.stringify(
                    {command: "edit", code: $("#editor").val()}
                ))
            }

            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)

                console.log(event)
                $("#editor").val( data.code )

                // Update the members list
                $("#coders").html('')
                $(data.coders).each(function() {
                    $("#coders").append('<li>' + this + '</li>')
                })
            }

            $("#editor").keyup(sendMessage)
            editorSocket.onmessage = receiveEvent

        })

</script>
}